In [14]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv("Top Steam Games.csv")

In [16]:
df.columns

Index(['Unnamed: 0', 'Name', 'Current', '24h Peak', 'All-Time Peak'], dtype='object')

In [17]:
display(df)

,Unnamed: 0,Name,Current,24h Peak,All-Time Peak
0,0,Counter-Strike: Global Offensive,"597,501","889,897","1,308,963"
1,1,Dota 2,"483,971","662,819","1,295,114"
2,2,PUBG: BATTLEGROUNDS,"321,263","498,963","3,257,248"
3,3,Lost Ark,"256,951","356,506","1,325,305"
4,4,ELDEN RING,"247,994","339,322","953,426"
...,...,...,...,...,...
95,95,Forza Horizon 5,"6,732","9,779","81,096"
96,96,Fall Guys: Ultimate Knockout,"6,667","11,093","172,213"
97,97,F1 2021,"6,654","17,714","25,575"
98,98,Battlefield 1 ™,"6,538","10,146","43,322"
99,99,Dyson Sphere Program,"6,412","7,042","59,815"

In [18]:
df["Current"] = df["Current"].str.replace(",", "")
df["24h Peak"] = df["24h Peak"].str.replace(",", "")
df["All-Time Peak"] = df["All-Time Peak"].str.replace(",", "")
cleaned_df = df[["Name", "Current", "24h Peak", "All-Time Peak"]]

In [19]:
display(cleaned_df)

                                Name Current 24h Peak All-Time Peak
0   Counter-Strike: Global Offensive  597501   889897       1308963
1                             Dota 2  483971   662819       1295114
2                PUBG: BATTLEGROUNDS  321263   498963       3257248
3                           Lost Ark  256951   356506       1325305
4                         ELDEN RING  247994   339322        953426
..                               ...     ...      ...           ...
95                   Forza Horizon 5    6732     9779         81096
96      Fall Guys: Ultimate Knockout    6667    11093        172213
97                           F1 2021    6654    17714         25575
98                   Battlefield 1 ™    6538    10146         43322
99              Dyson Sphere Program    6412     7042         59815

[100 rows x 4 columns]

In [20]:
cleaned_df.to_csv("Top 100 Steam Games.csv")